@import '../../styles/common.style.scss';

div.container {
    font-size: 12px;
    display:flex;
    flex-direction: column;
    text-align: center;
    div.item{
        @extend .outcome-button;
    }
    div.active{
        font-weight: 400;
        background-color: lightgray;
        color:black;
    }
    &.controlInactive{
        pointer-events: none;
        opacity: 0.5;
    }
}