.item{
    .primaryText{
        border-radius: 50%;
        border:1px black solid;
        font-weight: bold;
        font-size: 16px;
        width:50px;
        height:25px;
    }
    .secondaryText{
        font-size: 12px;
    }
}